<section #wrapper id="wrapper" class="h-100">
  <div
    class="table-media-screen expandable-two border border-b-0 rounded-tl-none rounded-tr-lg"
    [class.expanded]="firstTableVisible == true"
  >
    <div class="flex justify-center items-center">
      <div class="basis-1/5 pl-3">Image</div>
      <div class="basis-3/5 pl-3">Title</div>
      <div class="basis-1/5 pl-3">Action</div>
    </div>
  </div>

  <cdk-virtual-scroll-viewport
    appendOnly
    itemSize="auto"
    class="border rounded-bl-lg overflow-hidden rounded-tl-none"
    [style.height.px]="
      bodyHeight! - (firstTableVisible ? 49 + 33 + 50 : 33 + 60)
    "
    [ngClass]="firstTableVisible ? 'rounded-t-none' : ''"
  >
    <div
      class="pb-3"
      [ngClass]="
        secondTableVisible
          ? 'grid  xl:grid-cols-5 lg:grid-cols-3 grid-cols-1 gap-3 p-3'
          : ''
      "
    >
      <div *cdkVirtualFor="let item of items">
        <!-- List One -->
        <div class="list-one overflow-auto">
          <div
            [class.expanded]="firstTableVisible == true"
            class="expandable w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <div *ngIf="firstTableVisible">
              <div
                class="flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <div class="p-3 basis-1/5">
                  <img
                    (click)="openImageDialog(item.mainImageUrl)"
                    [src]="item.mainImageUrl"
                    class="cursor-pointer w-16 md:w-32 max-w-full max-h-full"
                    alt="mainImage"
                  />
                </div>
                <div
                  class="basis-3/5 p-3 font-semibold text-gray-900 dark:text-white"
                >
                  {{ item.title }}
                </div>
                <div class="basis-1/5 p-3 flex flex-col justify-center">
                  <a
                    class="font-medium text-red-600 dark:text-red-500 hover:underline"
                    >Remove</a
                  >
                  <a
                    (click)="navigateToEditPage(item)"
                    class="font-medium text-green-600 dark:text-green-500 hover:underline"
                    >Edit</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- List Two -->
        <div class="list-one overflow-auto ">
          <div
            [class.expanded]="secondTableVisible == true"
            class="expandable w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <div *ngIf="secondTableVisible">
              <div
                class="w-full bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700"
              >
                <a>
                  <img
                    class="rounded-t-lg cursor-pointer"
                    [src]="item.mainImageUrl"
                    alt=""
                    (click)="openImageDialog(item.mainImageUrl)"
                  />
                </a>
                <div class="p-5">
                  <a>
                    <h5
                      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                      {{ item.title }}
                    </h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    {{ item.content }}
                  </p>
                  <a
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                    Read more
                    <svg
                      class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 10"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
  <app-pagination></app-pagination>
</section>
