/* Add to your styles.scss or table.component.scss */

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* Use full height of parent */
}

.cdk-virtual-scroll-viewport {
  flex-grow: 1; /* Allow the viewport to take up all remaining space */
}

.expandable {
  background: #fff;
  overflow: hidden;
  transition: all 0.25s ease;
  line-height: 0;
  color: transparent;
  opacity: 0;
}

.expandable.expanded {
  opacity: 1;
  line-height: 1.5;
  color: black;
}

.expandable-two {
  background: #f9fafb;
  overflow: hidden;
  transition: all 0.25s ease;
  line-height: 0;
  padding: 0;
  color: transparent;
  opacity: 0;
}

.expandable-two.expanded {
  opacity: 1;
  line-height: 1.5;
  padding: 0.5rem;
  color: black;
}

::ng-deep .cdk-virtual-scroll-spacer {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
