<mat-drawer-container class="container">
  <mat-drawer
    class="sidenav-menu"
    mode="side"
    [ngClass]="{
      'sidenav-menu-desktop': !isMobileSidenav,
      'sidenav-menu-half': isHalfSidenav
    }"
    [disableClose]="true"
  >
    <div class="sidenav-content">
      <button type="button" mat-button (click)="toggleSidenav()">
        Toggle sidenav
      </button>
      <mat-icon>home</mat-icon>
      <mat-icon>account_circle</mat-icon>
      <mat-icon>settings</mat-icon>
      <!-- Add more icons as needed -->
    </div>
  </mat-drawer>

  <mat-drawer-content class="drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
