<app-login
  *ngIf="!authService.isLogged && !authService.isRegistering"
></app-login>
<app-registration
  *ngIf="!authService.isLogged && authService.isRegistering"
></app-registration>



<section class="section">
  <mat-toolbar class="toolbar">
    <span>My App</span>

    <button (click)="logOut()">Logout</button>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container">
    <mat-drawer
      class="sidenav-menu"
      mode="side"
      [ngClass]="{
        'sidenav-menu-desktop': !isMobileSidenav,
        'sidenav-menu-half': isHalfSidenav,
        
      }"
      [disableClose]="true"
    >
      <div class="sidenav-content">
        <div>
          <button (click)="toggleSidenav()" class="toggle-button">
            <mat-icon [ngClass]="isHalfSidenav ? 'close-icon' : 'menu-icon'">
              {{ isHalfSidenav ? "menu" : "close" }}
            </mat-icon>
          </button>
        </div>

        <div class="button-parent" routerLink="/home">
          <button>
            <mat-icon>home</mat-icon>
          </button>
          <div
            [ngStyle]="{
              opacity: isHalfSidenav ? '0' : '1'
            }"
          >
            Start
          </div>
        </div>

        <div class="button-parent" routerLink="/posts">
          <button>
            <mat-icon>wallpaper</mat-icon>
          </button>
          <div
            [ngStyle]="{
              opacity: isHalfSidenav ? '0' : '1'
            }"
          >
            Posts
          </div>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content class="drawer-content">
      <div id="drawer-content-box" class="drawer-content-box md:rounded-tl-lg">
        <router-outlet (activate)="onRouterLinkActivate()"></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
