<div class="flex flex-row justify-end mr-0 md:gap-3">
  <!-- dropdown -->
  <div class="fix-tabs-position">
    <button
      id="dropdownActionButtonPagination"
      class="inline-flex items-center justify-between max-w-fit min-w-16 text-gray-500 border border-t-0 border-r-0 md:border-r rounded-lg rounded-t-none rounded-r-none md:rounded-br-lg bg-gray-50 focus:outline-none hover:bg-gray-100 font-medium text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700"
      type="button"
    >
      <span class="sr-only">Action button</span>
      {{ selectedPagination }}
      <svg
        class="w-2.5 h-2.5 ml-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>

    <div
      id="dropdownActionPagination"
      class="dropdownContent rounded-b-none z-10 hidden bg-gray-50 divide-y divide-gray-100 rounded-lg max-w-fit min-w-16 dark:bg-gray-700 dark:divide-gray-600"
    >
      <ul
        class="text-sm text-gray-700 dark:text-gray-200 border border-b-0 rounded-lg rounded-b-none"
      >
        <li>
          <a
            (click)="selectValue(0)"
            class="dropdown-item block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >All</a
          >
        </li>
        <li>
          <a
            (click)="selectValue(10)"
            class="dropdown-item block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >10</a
          >
        </li>
        <li>
          <a
            (click)="selectValue(25)"
            class="dropdown-item block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >25</a
          >
        </li>
        <li>
          <a
            (click)="selectValue(50)"
            class="dropdown-item block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >50</a
          >
        </li>
        <li>
          <a
            (click)="selectValue(100)"
            class="dropdown-item block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >100</a
          >
        </li>
      </ul>
    </div>
  </div>

  <nav aria-label="Page navigation example" class="fix-tabs-position">
    <ul class="inline-flex -space-x-px text-sm">
      <li>
        <a
          class="inline-flex items-center justify-between max-w-fit min-w-16 text-gray-500 border border-t-0 rounded-t-none rounded-lg rounded-r-none rounded-l-none md:rounded-bl-lg bg-gray-50 focus:outline-none hover:bg-gray-100 font-medium text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700"
          >Previous</a
        >
      </li>

      <li>
        <a
          class="inline-flex items-center justify-between max-w-fit min-w-16 text-gray-500 border border-t-0 rounded-t-none rounded-lg rounded-l-none bg-gray-50 focus:outline-none hover:bg-gray-100 font-medium text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
