<form (ngSubmit)="onSubmit()" #createForm="ngForm">
    <div>
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        required
        [(ngModel)]="data.title"
        name="title"
      />
    </div>
    <div>
      <label for="content">Content</label>
      <input
        type="text"
        id="content"
        required
        [(ngModel)]="data.content"
        name="content"
      />
    </div>
    <div>
      <label for="images">Select Images</label>
      <input
        type="file"
        id="images"
        name="images"
        (change)="onFileChange($event)"
        multiple
        accept="image/*"
      />
    </div>
    <button type="submit">Create</button>
    <div *ngIf="error" class="error">{{ error }}</div>
  </form>
  