.fix-tabs-position {
  transform: translateY(1px);
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

.list {
  transition: max-height 0.25s ease-in-out;
  overflow: hidden; /* Ensures content is hidden during collapse */
}

.table-one-expanded {
  max-height: 1000px; /* Expanded state with a value larger than the content height */
}

.table-one-collpsed {
  max-height: 0px; /* Collapsed state */
}