/* login.component.scss */
::ng-deep .login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 247, 238) !important; /* Semi-transparent background */
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000 !important; /* Ensure it's above other content */
}

// .login-box {
//   background: rgb(255, 247, 238);
//   padding: 20px;
//   border-radius: 10px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
// }
